<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>

<body>
  <div class='container'>
  <h1>URL Shortener</h1>
  <div class='url-img'>
    <img
      src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
      alt=''
    />
  </div>
  {{{ body }}}
</div>
  
</body>

</html>