<div class='container'>
  <h1>URL Shortener</h1>
  <div class='url-img'>
    <img
      src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
      alt=''
    />
  </div>

  <form action=''>
    <input type='text' id='URL' placeholder='Input URL here' />
    <button type='submit'>Shorten</button>
  </form>
</div>